body {
    margin: 0;
    font-family: Quicksand, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 80px) 1fr repeat(4, 80px);
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
  }

.page {
    grid-row: 1 / 2;
}


/* background pages  */
.container .page:nth-child(1) {
    grid-column: 1 / 10;
    z-index: 1;
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page:nth-child(1):hover {
    opacity: 0.5;
}


.container .page:nth-child(2) {
    grid-column: 1 / 9;
    z-index: 2;
    background-image: url("/assets/backgrounds/background-contact-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page:nth-child(2):hover {
    opacity: 0.5;
}

.container .page:nth-child(3) {
    grid-column: 1 / 8;
    z-index: 3;
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page:nth-child(3):hover {
    opacity: 0.5;
}

.container .page:nth-child(4) {
    grid-column: 1/ 7;
    z-index: 4;
    background-image: url("/assets/backgrounds/background-portfolio-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2000px;
}

/* portfolio page */
.portfolio {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100% 1fr;
    width: 100%;
    height: 100%;
  }
  
  .portfolio .view{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 91.8% 8.2%;
    grid-template-rows: 250px 1fr;
    /* background: hotpink; */
  }

    /* portfolio page */
  .portfolio .view .content:nth-child(1) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      grid-column: 1 /2;
      grid-row: 1 /3;
      margin-top: 165px;
      /* background: orange; */
  }

  /* title */
  .portfolio .view .content:nth-child(1) .title {
      display: grid;
      justify-self: flex-start;
      align-self: flex-start;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      /* margin-top: 165px; */
      margin-left: 5px;
      /* background: green; */
  }

  .portfolio .view .content:nth-child(1) h1 {
      grid-column: 1/2;
      grid-row: 1/2;
      z-index: 2;
      font-family: 'Bungee Shade', cursive;
      color: #D6A892;
      font-size: 70px;
      margin-left: 25%;
      margin-top: 60px;
      /* background: blue; */
  }

  .portfolio .view .content:nth-child(1) img {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    width: 100%
    /* background: blueviolet; */
    
  }

  .content:nth-child(1) img:hover {
      opacity: 0.7;
  }

  /* image */
  .content:nth-child(1) .screenshots {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      width: 800px;
      height: 800px;
      margin-top: 50px;
      /* background: red; */
  }



  /* tabs */
  .portfolio .view .content:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
      grid-column: 2 /3;
      /* background: yellow; */
  }

  .portfolio .view .content:nth-child(2) p {
      /* background: purple; */
      color: #D6A892;
      transform: rotate(-90deg);
  }

/* about tab */
.page:nth-child(1) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(1) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#F6DBCD;
    margin-top: 100px;
}

/* contact tab */
.page:nth-child(2) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(2) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#0A2529;
    margin-top: 100px;
}

/* resume tab */
.page:nth-child(3) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(3) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#F6DBCD;
    margin-top: 100px;
}

.tab a {
    text-decoration: none;
}

/* media frames  */
@media (max-width: 1389px) { /*1*/
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 64px;
    }
}

@media (max-width: 1319px) { /*2*/
    .container .page:nth-child(4) {
        height: 1500px;
    }

}

@media (max-width: 1200px) { /*3*/
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 60px;
        margin-left: 20%;
        margin-top: 40px;
    }

/* change background image */
    .container .page:nth-child(1) {
        background-image: url("/assets/backgrounds/background-about-5000px.svg");
    }
    .container .page:nth-child(2) {
        background-image: url("/assets/backgrounds/background-contact-5000px.svg")
    }
    .container .page:nth-child(3) {
        background-image: url("/assets/backgrounds/background-about-5000px.svg")
    }
    .container .page:nth-child(4) {
        background-image: url("/assets/backgrounds/background-portfolio-5000px.svg");
        height: 3000px;
    }

    .content:nth-child(1) .screenshots {
        display: block;
        width: 500px;
    }

}

@media (max-width: 1093px) { /*4*/
    /* change background image */
    .container .page:nth-child(1) {
        background-image: url("/assets/backgrounds/background-about-6000px.svg");
    }
    .container .page:nth-child(2) {
        background-image: url("/assets/backgrounds/background-contact-6000px.svg")
    }
    .container .page:nth-child(3) {
        background-image: url("/assets/backgrounds/background-about-6000px.svg")
    }
    .container .page:nth-child(4) {
        background-image: url("/assets/backgrounds/background-portfolio-6000px.svg");
        height: 3000px;
    }
}

@media (max-width: 1027px) { /*5*/
    .portfolio .view .content:nth-child(1) h1 {
        margin-left: 15%;
        margin-top: 30px;
    }

    .content:nth-child(1) .screenshots {
        margin-left: 20px;
    }
}

@media (max-width: 981px) { /*6*/
    /* change font size */
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 55px;
    }

    .content:nth-child(1) .screenshots {
        width: 450px;
        margin-left: 30px;
    }
}

@media (max-width: 917px) { /*7*/
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 50px;
    }
}

@media (max-width: 877px) { /*8*/
     /* re-arrange background from grid to flex. background solid color. navigartion blocks at the top of the page */

 body {
    background:#4F767B;
    display: flex;
  }

  .portfolio {
    display: block;
}

  /* delete portfolio tab */
  .content:nth-child(2) p {
    display: none;
}
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     width: 100%;
     height:1000px;
     justify-content: space-between;
  }
 
  .container .page:nth-child(4) {
   display: flex;
   flex-direction: column;
   background-image: none;
   background-color: #4F767B;
   width: 100%;
   height: 3000px;
 }
 
 .container .page:nth-child(3) {
   background-image: none;
   background-color: #0A2529;
   border: 1px solid #F6DBCD;
   width: 33%;
   height: 80px;
   border-radius:5px;
 }
 
 .container .page:nth-child(2) {
   background-image: none;
   background-color: #F6DBCD;
   border: 1px solid #4F767B;
   width: 33%;
   /* height: 8px; */
   border-radius:5px;
 }
 
 .container .page:nth-child(1) {
   background-image: none;
   background-color: #0A2529;
   border: 1px solid #F6DBCD;
   width: 33%;
   height: 80px;
   border-radius:5px;
 }
 
 /* re arrange tabs at the top */
 .tab {
   position: absolute;
   transform: rotate(90deg);
   /* background: green; */
   margin-left: 10%;
 }
 
  h2 {
   font-size: 18px;
   margin-right: 0;
   /* background: plum; */
   margin-bottom: 20%;
 }
 
 /* change content display to flex */
    .about {
    display: block;
    } 

   .view {
     display: block;
   }

   .portfolio .view .content:nth-child(1) h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-left: 20%;
}

.content:nth-child(1) .screenshots {
    width: 800px;
    margin-left:20px;
}
 }

 @media (max-width: 833px) { /*8*/
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 65px;
        margin-top: 50px;
        margin-left: 20%;
    }

    .content:nth-child(1) .screenshots {
        width: 100%;
        margin-left:60px;
    }
 }

 @media (max-width: 800px) { /*9*/ 
    .portfolio .view .content:nth-child(1) .title {
        width: 90%;
    }
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 60px;
        margin-top: 40px;
        margin-left: 120px;
    }
 }

 @media (max-width: 693px) { /*10*/ 
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 55px;
    }
}

@media (max-width: 645px) { /*10*/ 
    .portfolio .view .content:nth-child(1) h1 {
        font-size: 40px;
        margin-top: 40px;
        margin-left: 120px;
    }
    .content:nth-child(1) .screenshots {
        margin-left:50px;
    }
}

 @media (max-width: 600px) { /*11*/ 
    .container .page:nth-child(3) {
      width: 32%;
    }
    
    .container .page:nth-child(2) {
      width: 32%;
    }
    
    .container .page:nth-child(1) {
      width: 32%;
    }
  }

  @media (max-width: 517px) { /*11*/ 
    .portfolio .view .content:nth-child(1) h1 {
        margin-top: 30px;
        margin-left: 90px;
    }
}
  

@media (max-width: 485px) { /*11*/ 
    .portfolio .view .content:nth-child(1) h1 {
        margin-left: 60px;
        martgin-top: 10px;
    }
    .content:nth-child(1) .screenshots {
        margin-left:30px;
    }
}