body {
    margin: 0;
    font-family: Quicksand, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 80px) 1fr repeat(4, 80px);
    grid-template-rows: 1fr;
    height: 1900px;
    width: 100%;
  }

.page {
    grid-row: 1 / 2;
}

/* background pages  */
.container .page:nth-child(1) {
    grid-column: 1 / 10;
    z-index: 1;
    background-image: url("/assets/backgrounds/background-portfolio-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container .page:nth-child(2) {
    grid-column: 1 / 9;
    z-index: 2;
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container .page:nth-child(3) {
    grid-column: 1 / 8;
    z-index: 3;
    background-image: url("/assets/backgrounds/background-contact-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container .page:nth-child(4) {
    grid-column: 1/ 7;
    z-index: 4;
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* about page - grid to place content at the top of the box */
.resume {
    display: grid;
    grid-template-columns: 1fr 970px;
    grid-template-rows: 1554px 1fr;
    width: 100%;
    height: 100%;
  }
  
  .resume .view {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-auto-rows: 250px 250px 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #F6DBCD;
    /* background: purple; */
  }

  /* title */
  .resume .view .content:nth-child(1) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      /* background: pink; */
  }

  .resume .view .content:nth-child(1) img {
      /* background: yellow; */
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0;
      margin: 0;
      width: 500px;
      z-index: 0;
  }

  .resume .view .content:nth-child(1) h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    padding:0;
    margin: 0;
    /* background: blue; */
    margin-top: 90px;
    margin-left: 230px;
    font-family: 'Bungee Shade', cursive;
    font-size: 64px;
  }

  /* section 1 most recent job */
  .resume .view .content:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      /* background: lime; */
  }

        /* headers */
  .content h3:nth-child(1) {
      width: 250px;
      font-family: 'Bungee Shade', cursive;
      font-size: 30px;
      margin-left: 100px;
      margin-top: 50px;
  }
        /* paragraph 1 */
.content p:nth-child(2) {
      display: inline-block;
      width: 250px;
      font-size: 16px;
      margin-left: 100px;
  }

        /* paragraph 2 */
  .content p:nth-child(3) {
      display: inline-block;
      width: 480px;
      font-size: 16px;
      margin-left: 50px;
  }

  hr {
    display: block;
    width: 750px;
    color: #F6DBCD;
    margin-left: 100px;
    margin-top: 100px;
  }

  /* section 2 education */
  .resume .view .content:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    /* background: red; */
}

/* tab on the page */
.resume .view .content:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;;
    grid-row: 1 / 2;
    /* background: aquamarine; */
}

/* text in the tab on the page */
.resume .view .content:nth-child(4) p {
    /* background: orange; */
    transform: rotate(-90deg);
}

/* portfoolio tab */
.page:nth-child(1) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(1) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#D6A892;
    margin-top: 100px;
}

/* about tab */
.page:nth-child(2) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(2) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#F6DBCD;
    margin-top: 100px;
}

/* contact tab */
.page:nth-child(3) .tab {
    display: flex;
    justify-content: flex-end;
    
}

.page:nth-child(3) h2 {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 16px;
    color:#0A2529;
    margin-top: 100px;
}

.tab a {
    text-decoration: none;
}
