body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
}

ul {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 0px) 1fr repeat(4, 80px);
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100%;
}

.page {
  grid-row: 1 / 2;
}

/* background pages  */
/* contact */
.container .page:nth-child(1) {
  grid-column: 5 / 10;
  grid-row: 1 / 2;
  z-index: 1;
  background-image: url("/assets/backgrounds/background-contact.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.page:nth-child(1):hover {
  opacity: 0.5;
}

/* background resume */
.container .page:nth-child(2) {
  grid-column: 5 / 9;
  grid-row: 1 / 2;
  z-index: 2;
  background-image: url("/assets/backgrounds/background-about.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.page:nth-child(2):hover {
  opacity: 0.5;
}

/* portfolio */
.container .page:nth-child(3) {
  grid-column: 5 / 8;
  grid-row: 1 / 2;
  z-index: 3;
  background-image: url("/assets/backgrounds/background-portfolio.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.page:nth-child(3):hover {
  opacity: 0.5;
}

/* about */
.container .page:nth-child(4) {
  grid-column: 5/ 7;
  grid-row: 1 / 2;
  z-index: 4;
  background-image: url("/assets/backgrounds/background-about.svg"); 
  background-clip: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* about page */
.about {
  display: grid;
  grid-template-columns: 19% 81%;
  grid-template-rows: 660px 1fr;
  width: 100%;
  height: 100%;
}

.about .view {
  
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  /* margin: 25px; */
  color: #F6DBCD;
  /* background: blueviolet; */
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-template-rows: 250px 100px 310px;
}

/* logo */
.content:nth-child(1) {
  display: flex;
  align-items: flex-end;
  /* background: pink; */
  grid-column: 1 /2;
  grid-row: 1/2;
}

.content:nth-child(1) h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 200px;
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-left: 20px;
  /* background:orange; */
}

/* socials */
.content:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lime; */
  grid-column: 1 /2;
  grid-row: 2 /3;
}

.content:nth-child(2) img {
    margin: 0px 10px;
}

/* blurb */
.content:nth-child(3) {
  /* background: purple; */
  grid-column: 1 /2;
  grid-row: 3 /4;
}

.content:nth-child(3) p {
  font-size: 16px;
  margin-left: 25px;
  /* background: orange; */
  width: 90%;
}

/* skills */
.content:nth-child(4) {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 360px 1fr;
  /* background: blue; */
  grid-column: 2 /3;
  grid-row: 2/4;
}

.content:nth-child(4) > img {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 410px;
    z-index: 0;
    /* background: orange; */
}

.content:nth-child(4) .skills:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
  font-family: 'Bungee Shade', cursive;
  /* background: hotpink; */
}

.icons img{
  margin: 4px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    /* background: lime; */
}

/* tab */
.content:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: hotpink; */
  grid-column: 3/4;
}

.content:nth-child(5) p {
    /* background: orange; */
    transform: rotate(-90deg);
    font-size: 16px;
}

/* contact tab */
.page:nth-child(1) .tab {
  display: flex;
  justify-content: flex-end;
  
}

.page:nth-child(1) h2 {
  transform: rotate(-90deg);
  width: 100px;
  font-size: 16px;
  color:#0A2529;
  margin-top: 100px;
  z-index: 11;
}

/* resume tab */
.page:nth-child(2) .tab {
  display: flex;
  justify-content: flex-end;
  
}

.page:nth-child(2) h2 {
  transform: rotate(-90deg);
  width: 100px;
  font-size: 16px;
  color:#F6DBCD;
  margin-top: 100px;
  z-index: 10;
}

/* PORTFOLIO TAB */
.page:nth-child(3) .tab {
  display: flex;
  justify-content: flex-end;
  
}

.page:nth-child(3) h2 {
  transform: rotate(-90deg);
  width: 100px;
  font-size: 16px;
  color:#D6A892;
  margin-top: 100px;
  z-index: 12;
}

.tab a {
  text-decoration: none;
}

/* media break points */
@media (max-width: 1389px) { /*1*/
  .content:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column: 2/3;
  }
  
  .content:nth-child(5) p {
      font-size: 16px;
      transform: rotate(0deg);
  }
  
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-1000px.svg");
    height: 890px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-1000px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-1000px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-1000px.svg");
  }

  .content:nth-child(4) {
    margin-top: 17%;
  }
}

@media (max-width: 1324px) { /*2*/
  .content:nth-child(5) p {
    margin-right: 50px;
  }

  /* change display of content to flex */
  .box {
    display: flex;
    flex-direction: column;
  }
/* change background size */
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-1500px.svg");
    height: 1200px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-1500px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-1500px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-1500px.svg");
  }
  /* title */
  .content:nth-child(1) {
    align-self: center;
  }

  /* adding margin between social icons and aligning */
  .content:nth-child(2) {
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 70px;
  }

  .content:nth-child(3) {
    margin-left: 50px;
  }

  /* about tab */
  .content:nth-child(5) {
    display: none;
  }

  /* skills box */

  .content:nth-child(4) {
    /* background: blue; */
    margin-top: 0;
    margin-top: 51px;
    grid-template-columns: 28% auto;
    padding: 0;
    align-self: center;
  }

  .content:nth-child(4) .skills:nth-child(2) {
    /* background: pink; */
  }

  .content:nth-child(4) > img {
    width: 650px;
    margin-right: 20px;
  }
}

@media (max-width: 1281px) { /*3*/
  /* change background size */
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
    height: 1500px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-2000px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-2000px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-2000px.svg");
  }
}

@media (max-width: 1155px) { /*3*/
  .container .page:nth-child(4) {
    height: 1200px;
  }
}

@media (max-width: 1083px) { /*4*/
  /* change background size */
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-2500px.svg");
    height: 1500px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-2500px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-2500px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-2500px.svg");
  }
}

@media (max-width: 979px) { /*5*/
  .container .page:nth-child(4) {
    height: 1300px;
  }
}

@media (max-width: 930px) { /*6*/ 
  /* change background size */
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-3000px.svg");
    height: 1500px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-3000px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-3000px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-3000px.svg");
  }
}
}

@media (max-width: 850px) { /*7*/
  .container .page:nth-child(4) {
    height: 1200px;
  }
}

@media (max-width: 850px) { /*8*/
  /* change background size */
  .container .page:nth-child(4) {
    background-image: url("/assets/backgrounds/background-about-3500px.svg");
    height: 1500px;
  }

  .container .page:nth-child(3) {
    background-image: url("/assets/backgrounds/background-portfolio-3500px.svg");
  }

  .container .page:nth-child(2) {
    background-image: url("/assets/backgrounds/background-about-3500px.svg");
  }

  .container .page:nth-child(1) {
    background-image: url("/assets/backgrounds/background-contact-3500px.svg");
  }
}

@media (max-width: 812px) { /*9*/ 
 /* re-arrange background from grid to flex. background solid color. navigartion blocks at the top of the page */

 body {
   background:#0A2529;
   display: flex;
 }
 .container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    width: 100%;
    height:1000px;
    justify-content: space-between;
 }

 .container .page:nth-child(4) {
  display: flex;
  flex-direction: column;
  background-image: none;
  background-color: #0A2529;
  width: 100%;
  height: 100%;
}

.container .page:nth-child(3) {
  background-image: none;
  background-color: #4F767B;
  border: 1px solid #D6A892;
  width: 33%;
  height: 80px;
  border-radius:5px;
}

.page:nth-child(3):hover {
  opacity: 0.5;
}

.container .page:nth-child(2) {
  background-image: none;
  background-color: #0A2529;
  border: 1px solid #F6DBCD;
  width: 33%;
  /* height: 8px; */
  border-radius:5px;
}

.page:nth-child(2):hover {
  opacity: 0.5;
}

.container .page:nth-child(1) {
  background-image: none;
  background-color: #F6DBCD;
  border: 1px solid #4F767B;
  width: 33%;
  height: 80px;
  border-radius:5px;
}

.page:nth-child(1):hover {
  opacity: 0.5;
}

/* re arrange tabs at the top */
.tab {
  position: absolute;
  transform: rotate(90deg);
  /* background: green; */
  margin-left: 10%;
}

 h2 {
  font-size: 18px;
  margin-right: 0;
  /* background: plum; */
  margin-bottom: 20%;
}

/* change content display to flex */
.about {
  display: block;
}
  .view {
    display: block;
  }

  .box {
    display: flex;
  }

}

@media (max-width: 600px) { /*9*/ 
  .container .page:nth-child(3) {
    width: 32%;
  }
  
  .container .page:nth-child(2) {
    width: 32%;
  }
  
  .container .page:nth-child(1) {
    width: 32%;
  }
}