body {
    margin: 0;
    font-family: Quicksand, sans-serif;
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 80px) 1fr repeat(4, 80px);
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
  }

.page {
    grid-row: 1 / 2;
}

/* home directory */
.page:nth-child(4):before {
    content: "home";
    color: #F6DBCD;
    position: absolute;
    transform: rotate(-90deg);
    font-family: quicksand;
    font-size: 30px;
    bottom: 50%;
    opacity: 0;
    animation: appear 5s forwards 2s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    
    to {
         opacity: 1;
    }
}

/* background pages  */
.container .page:nth-child(1) {
    grid-column: 1 / 10;
    z-index: 1;
    background-image: url("/assets/backgrounds/background-contact.svg");
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.container .page:nth-child(2) {
    grid-column: 1 / 9;
    z-index: 2;
    background-image: url("/assets/backgrounds/background-about.svg");
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.container .page:nth-child(3) {
    grid-column: 1 / 8;
    z-index: 3;
    background-image: url("/assets/backgrounds/background-portfolio.svg");
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.container .page:nth-child(4) {
    grid-column: 1/ 7;
    z-index: 4;
    background-image: url("/assets/backgrounds/background-about.svg");
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

/* about page */
.about {
    display: grid;
    grid-template-columns: 1fr 970px;
    grid-template-rows: 660px 1fr;
    width: 100%;
    height: 100%;
  }
  
  .about .view {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* margin: 25px; */
    color: #F6DBCD;
    background: blueviolet;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    grid-template-rows: 250px 100px 310px;
  }
  
  /* logo */
  .content:nth-child(1) {
    display: flex;
    align-items: flex-end;
    background: pink;
    grid-column: 1 /2;
    grid-row: 1/2;
  }

  .content:nth-child(1) h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 200px;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-left: 20px;
    background:orange;
  }
  
  /* socials */
  .content:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lime;
    grid-column: 1 /2;
    grid-row: 2 /3;
  }

  .content:nth-child(2) img {
      margin: 0px 10px;
  }
  
  /* blurb */
  .content:nth-child(3) {
    background: purple;
    grid-column: 1 /2;
    grid-row: 3 /4;
  }

  .content:nth-child(3) p {
    font-size: 16px;
    margin-left: 25px;
    background: orange;
    width: 90%;
  }
  
  /* skills */
  .content:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 360px 1fr;
    background: blue;
    grid-column: 2 /3;
    grid-row: 2/4;
  }

  .content:nth-child(4) > img {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      height: 410px;
      z-index: 0;
      background: orange;
  }

  .content:nth-child(4) .skills:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    font-family: 'Bungee Shade', cursive;
    background: hotpink;
  }

  .icons img{
    margin: 4px;
}
  .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 250px;
      background: lime;
  }
  
  /* tab */
  .content:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hotpink;
    grid-column: 3/4;
  }

  .content:nth-child(5) p {
      background: orange;
      transform: rotate(-90deg);
  }
